// Card style
.customcard {
  text-align: center;
  margin: 2rem;
  position: relative;
  box-shadow: 6px 4px 6px #8888887a;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  width: 200px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid #a9a9a9;
  border-radius: 0.5rem;
  font-style: oblique;
  transition: background-color 0.5s;
  cursor: pointer;
}

.customcard:hover {
  color: #fff;
  background-color: #aaa9a9 !important;
}

@media only screen and (min-width: 1200px) {
  .customcard {
    width: 180px;
  }
}

@media only screen and (min-width: 1400px) {
  .customcard {
    width: 180px;
  }
}

.empTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .containercustomsm {
    max-width: 720px !important;
  }
}

@media (max-width: 576px) {
  .colextrasm {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.custombtn {
  color: #fff;
  background-color: #6fb53f !important;
  height: 3rem;
  width: 8rem;
}
