.custombtn {
  color: #fff;
  background-color: #3f81c7 !important;
  height: 45px;
  width: 6rem;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
}

.register:hover {
  cursor: pointer;
}

@media (max-width: 960px) {
  .containercustomadjustment {
    max-width: 960px;
  }
}
